<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="main.css">
  <title>Login</title>
</head>
<body>
  <form class="form__login" @submit.prevent="login">
    <h1 class="form__title">Đăng nhập</h1>
    <div class="form__group">
      <label>Họ và tên *</label>
      <input placeholder="Tên đăng nhập" type="text" class="form__control">
    </div>

    <div class="form__group">
      <label>Mật khẩu *</label>
      <input placeholder="Mật khẩu" type="password" class="form__control">
    </div>

    <div class="form__group">
      <button :disabled="isProcessing" class="btn btn-primary">Đăng nhập</button>
    </div>

    <div class="form__group">
      <input type="checkbox" name="saveAccount" value=""> Ghi nhớ mật khẩu
    </div>

    <div class="form__group">
      <a class="error__confimr" href="/register.html">Quên mật khẩu ?</a>
      <p class="error__question">Bạn chưa có tài khoản?  <a href="/register.html" class="error__active">Đăng ký</a></p>
    </div>
  </form>
</body>
</html>