//- include ./bootstrap/table/index
//- include ./bootstrap/navbar/index
include ./customtheme/navigation/index
include ./bootstrap/carousel/index

include ./customtheme/slide-owl/index
include ./customtheme/commons/index
include ./customtheme/top/index
//- include ./customtheme/tabs/index
//- include ./customtheme/mega-dropdown/index
include ./customtheme/partners/index
//- include ./customtheme/banner-owl/index
include ./customtheme/news-post/index
include ./customtheme/pagination/index
include ./customtheme/breadcrumb/index