extends _layout
block append variables
    -var classPage= "home"
block stylesheet
    link(href="https://cdn.fancygrid.com/fancy.min.css", rel="stylesheet")
block title
    title= title
block header
    -
        var defaultHeadmenu = [{ title:'Hỗ trợ', className: '', url:'./single.html' ,
            child:[
                { title:'Khuyến mãi', className: '', url:'./category.html' },
                { title:'Chính sách', className: '', url:'./category.html' },
            ]
        }]
        var defaultMenu = [
            { title:'<i class="fa fa-home"></i><span class="isMobile">&nbsp;Trang chủ</span>', className: 'active', url:'./index.html' },
            { title:'Giới thiệu', className: '', url:'./category.html' },
            { title:'Nhà đất Hà nội', className: '', url:'./category.html' ,
                child: [
                { title:'Bán nhà đất Hà Nội', className: '', url:'./category.html' },
                { title:'Cho Thuê xưởng Hà Nội', className: '', url:'./category.html' },
                { title:'Dự án khu vực Hà Nội', className: '', url:'./single.html' }
            ]},
            { title:'Môi giới - Sàn giao dịch', className: 'mega-menu three-items-menu', url:'./project.html' },
            //- { title:'Nhà Môi Giới – Doanh Nghiệp', className: 'mega-menu', url:'./category.html' ,
            //-     child: [
            //-     { title:'Khuyến mãi', className: '', url:'./category.html' },
            //-     { title:'Tin tức', className: '', url:'./category.html' },
            //-     { title:'Liên hệ', className: '', url:'./single.html' },
            //-     { title:'Chuyên mục', className: '', url:'./category.html' }
            //- ]},
            { title:'Cho thuê', className: '', url:'./category-forent.html' },
            { title:'GREENMARKET', className: '', url:'./category-forent.html' },
            { title:'Đô thị', className: '', url:'./category.html',
                child: [
                { title:'Đô thị mới', className: '', url:'./category.html' },
                { title:'Đô thị vệ tinh', className: '', url:'./category.html' }
            ]},
            { title:'Tin tức', className: '', url:'./category.html' },
            { title:'Trợ giúp pháp lý', className: '', url:'./category.html' ,
                child: [
                { title:'Thủ tục hành chính', className: '', url:'./category.html' },
                { title:'Công chứng', className: '', url:'./category.html' },
                { title:'Luật', className: '', url:'./category.html' }
            ]},
            { title:'Liên hệ', className: '', url:'./single.html' },
            //- { title:'Đăng nhập', className: 'pull-right', url:'./single.html' }
        ]    
        var rightMenu = [
            { title:'<i class="fa fa-user"></i> Đăng nhập', modal: 'login-panel', className: 'btn-wrapper btn-success', classSpan: 'btn btn-success', url:'./' },
            { title:'<i class="fa fa-lock"></i> Đăng ký', modal: 'register-panel', className: 'btn-wrapper btn-primary', classSpan: 'btn btn-primary', url:'./' },
            { title:'Tài khoản', className: '', url:'./', child: [
                { title:'Thông tin', className: '', url:'./category.html' },
                { title:'Quản lý khu trọ', className: '', url:'./category.html' },
                { title:'Tài khoản', className: '', url:'./category.html' },
                { title:'Thoát', className: '', url:'./single.html' }
            ] }                            
        ] 
    header
        .top-layout
            .container
                .row
                    +top
        .header-layout
            .container
                .row
                    .col-sm-auto.col-12
                        h3#logo.logo
                            a(href="index.html")
                                img(src="./assets/images/logo.png")
                    .col.align-self-center
                        span.search-form
                            form.form
                                select
                                    option(value="1") Tin tức
                                input.search-input(type="text", placeholder="Nhập từ khóa...")
                                button.search-button
                                    <i class="fas fa-search"></i>
                    .col.align-self-center
                        +navigation('navigation nav-right', rightMenu)
        nav.navi-layout.fix-top
            .container 
                -
                //- h3#logo.logo
                    a(href="index.html")
                        img(src="./assets/images/logo.png")
                .row
                    .col-md-auto
                        .row
                            +navigation('navigation nav-left', defaultMenu)
                    .col.align-self-end
                        .pull-right
                            +navigation('navigation nav-top', defaultHeadmenu)
block main
    //- .slider-layout(style="background: #145189 url(./assets/images/slide-bg.jpg) no-repeat center top / 100% auto;padding: 60px 0;")
    //-         .container
    //-             .row
    //-                 .col
    //-                     +carousel
    div.main
        .section-main
            .container.main-wrapper       
                .row
                    .col-sm-9.border-sm-right
                        .row.main-head
                            .col-sm-3.border-sm-right
                                .block-title.underline
                                    h2.title.solid-color.text-uppercase: span Nhà đất hà nội
                                div.row
                                    ul.list-head
                                        -for(var i = 0; i<10 ; i++)
                                            li
                                                a.title(href="#")
                                                    span
                                                        i.far.fa-clock
                                                    span &nbsp;Thị trường BĐS chạm đỉnh 2019 và rơi vào thoái trào năm kế tiếp
                            .col-sm-9
                                div.row
                                    +slide-owl
                                .row
                                    ul.list-head
                                        -for(var i = 0; i<7 ; i++)
                                            li
                                                a.title(href="#") Thị trường BĐS chạm đỉnh 2019 và rơi vào thoái trào năm kế tiếp
                                                span.meta-info-item 
                                                    i.far.fa-clock
                                                    |  Th3-27/10/2015
                        .row
                            .col-sm-8.border-sm-right
                                .block
                                    .block-title.underline
                                        h2.title.solid-color.text-uppercase: span Tin cho thuê
                                    .list-post
                                        -
                                            var rent_post =  {                                                
                                                image: './assets/images/services_02.png',
                                                title: 'Lorem Ipsum là gì, Tại sao lại sử dụng nó?',
                                                link: './single_product.html'
                                            }
                                            var rent_post_text =  {                          
                                                title: 'Lorem Ipsum là gì, Tại sao lại sử dụng nó?',
                                                link: './single_product.html'
                                            }
                                        -for(var i = 0; i<15 ; i++)
                                            //- +news-post('line-bottom')
                                            +forrent-post('line-bottom', rent_post)
                                        //- -for(var i = 0; i<8 ; i++)
                                        //-     //- +news-post('line-bottom')
                                        //-     +forrent-post('line-bottom', rent_post_text)
                                //- .block
                                //-     .block-title.underline
                                //-         h2.title.text-uppercase Dự án mới
                                //-     .list-course
                                //-         .row
                                //-             -for(var i = 1; i<4 ; i++)
                                //-                 .col-sm-4
                                //-                     +course-post(i)
                            .col-sm-4
                                .block
                                    .block-title
                                        .module-title.solid-color
                                            a(href="#") Đô thị
                                        -for(var i = 0; i<10 ; i++)
                                            +news-post('line-bottom small-post', {                                                
                                                image: './assets/images/services_02.png',
                                                title: 'Lorem Ipsum là gì, Tại sao lại sử dụng nó?',
                                                link: './single.html'
                                            })
                                .block
                                    .block-title
                                        .module-title.solid-color
                                            a(href="#") Cách tính thuế đất
                                        -for(var i = 0; i<6 ; i++)
                                            +news-post('line-bottom small-post', {                                     
                                                image: './assets/images/services_02.png',
                                                title: 'Lorem Ipsum là gì, Tại sao lại sử dụng nó?',
                                                link: './single.html'
                                            })
                                //- a(href="#", style="display:block")
                                //-     img(src="https://file4.batdongsan.com.vn/2019/03/18/RUFz0fap/20190318111542-274f.jpg", alt="", width="100%", height="630px")
                    .col-sm-3.sidebar
                        +sidebar
        .section-partners
            .container
                .row.justify-content-md-center
                    .col-sm-12
                        br
                        +partners
                        br
        .section-gap.banner-text(style="    background: #ccc url(https://syntec-numerique.fr/sites/default/files/styles/medium/public/Image/finance-syntec-02-02-2017-2.jpg?itok=sXt3wLLF) no-repeat center top / 100% 600%;")
            .container
                +banner-slide
                //- .block-title
                //-     h2.title Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả
                //- p.text-block Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
block footer
    +footer
block stylesheet
block scripts
    //- script(src="https://code.highcharts.com/highcharts.src.js")
    //- script(src="https://cdn.fancygrid.com/fancy.min.js")
        