
@media (min-width: 768px) {
    .header-layout {
        background-image: url('/public/assets/site/themes/assets/images/bg-go.jpg');
    }
    /* .header-layout ._isMobile, .header-layout a, .header-layout span{
        color: #fff !important;
    } */
    .header-layout .navigation > ul > li a,
    .header-layout .navigation > ul > li span {
        color: #fff;
    }
    
    .header-layout span .cart-product-total, .header-layout span .cart-product-price {
        color: #333;
    }
    .header-layout .fix-top.isfixed {
        background-image: url('/public/assets/site/themes/assets/images/bg-go.jpg');
    }
    .navigation > ul > li > ul > li:hover a, .navigation > ul > li > ul > li:hover span {
        background: #f5f5f5;
    }
    .header-layout .navigation > ul > li .btn-primary > a:hover,
    .header-layout .navigation > ul > li .btn-primary > span:hover {
        background: #cc8f37;
    }
    .navigation > ul > li > ul > li:hover a._isMobile, .navigation > ul > li > ul > li:hover span._isMobile {
        background: transparent;
    }

    .header-layout .navigation > ul > li .btn-primary > a,
    .header-layout .navigation > ul > li .btn-primary > span {
        color: #f5f5f5 !important;
        background: #f5b251;;
    }
    .header-layout .navigation > ul > li .btn-primary > a:hover {
        opacity: 7.5;
    }

    .logo {
        margin: 12px 0;
    }
    .sevices-title-nomarl, .block-title .title.sevices-title-nomarl {
        font-size: 28px;
        padding-top: 40px;
    }
    .sevices-title-large {
        font-size: 35px;
    }
    .cover-slide {
        min-height: calc(100vh - 136px);
    }
    
    .header-layout .navigation > ul > li > ul > li  a,
    .header-layout .navigation > ul > li > ul > li  span {
        color: #666;
    }
    .header-layout .navigation > ul > li > ul > li.btn-primary a,
    .header-layout .navigation > ul > li > ul > li.btn-primary span {
        color: #fff;
    }
}