footer.dark, .footer.dark {
    background-color: #084471;
}
footer .title.divider-bottom::before, .footer .title.divider-bottom::before {
    background: #d31114;
}
.dropdown-menu.dropdown-menu-right.show, .dropdown-menu[x-placement="bottom-end"].show {
    visibility: visible;
    opacity: 1;
}
.hideSubIcon .sub-icon{
    display: none;
}
@media (min-width: 769px) {
    .hideSubIcon {
        display: none!important;
    }
}
@media (max-width: 768px) {
    .dropdown-menu.dropdown-menu-right.show::before, .dropdown-menu[x-placement="bottom-end"].show::before  {
        display: none;
    }
    .dropdown-menu.dropdown-menu-right.show, .dropdown-menu[x-placement="bottom-end"].show {
        width: 220px;
        left: 0 !important;
    }
}
.dropdown-menu.dropdown-menu-right.show::before, .dropdown-menu[x-placement="bottom-end"].show::before {
    left: auto;
    right: 20px;
}
.slider-layout {
    padding-top: 200px;
}
.form-slider-layout {
    padding-bottom: 0;
}



@media (max-width: 768px) {
    .slider-layout {
      padding-top: 0px !important; 
    }  
  .header-layout {
    background-size: 200% 120% !important;
    min-height: 0 !important;
  }
  .slide-caption {
    display: inline-block;
    background-color: transparent !important;;
    
  }
  .carousel img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .carousel img {
    max-width: 50%;
  }
  .slide-caption {
    display: none;
  }
}